<div class="container mt-5">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <div id="first">
                <div class="myform form ">
                    <div class="logo mb-3">
                        <div class="col-md-12 text-center">
                            <h1>Login</h1>
                        </div>
                    </div>
                    <form [formGroup]="loginForm" (submit)="login()">
                        <div class="form-group mb-3">
                            <label for="exampleInputEmail1">E-mail</label>
                            <input type="text" class="form-control" placeholder="Enter E-mail" formControlName="email">
                        </div>

                        <div class="form-group mb-3">
                            <label for="exampleInputEmail1">Password</label>
                            <input type="text" class="form-control" placeholder="Enter Password"
                                formControlName="password">
                        </div>

                        <!-- <div class="col-md-12 text-center mt-3">
                            <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">SUBMIT</button>
                                           </div> -->


                        <div class="row mt-3 mb-3 ">
                            <div class="col-2 text-center mx-auto">
                                <button type="submit" class="btn btn-sm mybtn btn-primary tx-tfm mt-1">SUBMIT</button>
                            </div>
                            <div class="col-2 text-center px-1 mx-3 mt-1 mx-auto">
                                <asl-google-signin-button type = 'button' (submit) = 'googleLogin()'></asl-google-signin-button>
                            </div>
                        </div>

             

                        <!-- button  -->
                        <div class="form-group">
                            <p class="text-center">Don't have account?
                                <a href="/register" id="signup">Sign up here</a>
                            </p>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>